<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is the home page 1 * 2</h1>
    <h3> <%= 1 * 2 %> </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia
      odit quae soluta delectus sed distinctio, aliquam hic officia libero
      quidem voluptate fuga anim autem adipisci a facere
      necessitatibus quia vitae hic sed, aliquam, nemo eveniet possimus debitis
      quae nihil, ratione ipsam quis consequuntur minus ipsa?
    </p>
    <button>click me!</button>
  </body>
</html>
